@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Plus Jakarta Sans", "Inter", sans-serif;

    --color-brand-primary: #e71464;
    --color-brand-secondary: #7e2ceb;
    --color-brand-tertiary: #50e3c2;

    --color-dark-bg: #000427;
    --color-dark-panel: #0c0230;
    --color-darker-panel: #0c0121;
    --color-blue-panel: #110446;

    --color-light-bg: #ffffff;
    --color-light-panel: #fff8e3;

    --color-text-main: #37393e;
    --color-text-main-darl: #d1d5dc;
    --color-text-muted: #7f7f7f;

    --color-border-light: #dbd9da;
    --color-border-dark: #37393e;
}

:root, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--color-brand-primary);
    border-radius: 3px;
}
